* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
}

.container{
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

li {
  list-style: none;
}